<div class="content-app">
  <h1>PeopleTracker</h1>
  <nav>
    {{#link-to "index"}}Index{{/link-to}}
    {{#link-to "scientists"}}Scientists{{/link-to}}
  </nav>

  <div class="content-main">
    {{outlet}}
  </div>
</div>