<section class="section_intro">
  <h1>This is the intro!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, autem delectus dolorem ducimus eius explicabo fugiat impedit ipsum labore nemo nobis non officia quidem quo rem saepe, totam vero voluptatum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda atque beatae cumque, dignissimos dolor eaque eius, error facilis incidunt laboriosam magnam, maiores modi nam placeat porro temporibus ut voluptates.
  </p>
  {{outlet}}
</section>