<section class="section_scientists">
  <h1>It's science time!</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa esse eveniet fugiat ipsum labore quas qui rerum vero voluptatem. A amet eveniet fugit harum illum iusto mollitia sequi suscipit tenetur?</p>

  {{outlet}}
</section>
